/* Style sheet created by: Noelle Malkin, 11/21/2025 */

/* Style for body specifies a background color */
body {
	background-color: #FFC7C7;
	font-family: 'Brush Script MT', cursive;  
}

/* Style to create a fluid image */
#banner {
	margin-left:auto ;
	margin-right:auto ;
	margin-bottom:auto ;
	max-width: 100%;
	height: auto;
	text-align: center;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	margin-top: 0.2em;
	text-align: center;
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	text-align: center;
	display: block;
	margin-top: 0.5em;
	font-size: 2em;
	padding: 1em;
	border-radius: 1em;
	
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}
nav li {
		border-radius: 2em;
		list-style-type: none;
		margin: 0.3em;
		padding: 0.4em;
}
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}
/* Style specifies a horizantal display for nav links*/
nav li {
	display: inline;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 0;
	padding-right: 0;
	width: 18%;
	white-space: nowrap;
	border-radius: 0;
	background-color: transparent;
	}

		
		#center {
			
			margin-left: 33%;
			margin-right: 33%;
			width: 33%;
			}
			
			#pico img {
		height: 20em;
		width: 20em;
		margin-left: 31%;
		margin-right: 40%;
		
			}
			/* Style to create a fluid image */
img {
	max-width: 100%;
	margin: 1%;
	border: double 0.3em #000014;
	width: 100%;
}

/* Style for the container centers the page and specifies the width */
figure img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFFFFF;
	box-shadow: .5em .5em .5em #404040;
	
}

@media only screen and (min-width: 481px) {
	img {
	width: 45%;	
	}
}
@media only screen and (min-width: 1386px) {
		 figure img{
			width: 30%;
		}

	}

	
	